<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
       <h1>Registrar libro</h1>

       <form method="post"> 
           {% for campo  in formulario%}
           
           
           <div>
                <label id="Id">Id</label>
                <input type="text"> 
                {formulario.id}
           </div>

           <div>
                <label id="Titulo">Titulo</label>
                <input type="text">
                {formulario.titulo}
            </div>

            <div>
                <label id="imagen">imagen</label>
                <input type="text">
                {formulario.imagen.url}
            </div>

            <div>
                <label id="Descripcion">Descripcion</label>
                <input type="text">
                {formulario.descripcion}
            </div>

            <div>
                <label id="Autor">Autor</label>
                <input type="text">
                {formulario.Autor}
            </div>

            <div>
                <!---->
                <label id="Opciones">Opciones</label>
                <input type="text">
                
                {formulario.opciones}
            </div>

            <div>
                        <input type="submit" value="Guardar"> 
                    
            </div>
            {% endfor %}

        </form>

        
        
        <script src="" async defer></script>
    </body>
</html>