<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
       <h1>Actualizar libros</h1>

       <form method="post" enctype="multipart/form-data"> 

        <!-- el formulario es traido por views.py de la aplicación. 
            y en views.py se ha importado el archivo form.py
            y en el archico  form.py se creo una clase con el atributo
            model y fields
        -->
        {%csrf_token%}
        {% for campo  in formulario%}

        <!--creacion de un formalario dinámico
            aqui los datos se toman del models.py
        -->
        <div>
            <label id="Id">{{campo.label}}
            {%if campo.field.widget.input_type == 'file' and 'campo.value'%}
                <img src="{{Media_URL}}/imagenes/{{campo.value}}" width="100">
            {%endif%}
            </label>
            
            <input type{{campo.field.widget.input_type}} name={{campo.name}} placeholder={{campo.name}} value="{{campo.value | default:''}}"> 
                
            </div>
            
            <div>
                {{campo.errors}}
                
            </div>
        {% endfor %}

        <div>
            <input type="submit" value="Actualizar">
        </div>
    </form>

        <script src="" async defer></script>
    </body>
</html>