<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
       <h1>Actualizar libros</h1>

       <form method="post"> 
            <label id="Id">Id</label>
            <input type="text">
            
            <label id="Titulo">Titulo</label>
            <input type="text">
            
            <label id="imagen">imagen</label>
            <input type="text">
            
            <label id="Descripcion">Descripcion</label>
            <input type="text">
            
            <label id="Autor">Autor</label>
            <input type="text">

            <label id="Opciones">Opciones</label>
            <input type="text">

            <input type="submit" value="Guardar"> 

       </form>
        <script src="" async defer></script>
    </body>
</html>