<!DOCTYPE html>

<html lang ="es-Co">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        
        <title>mi HTML desde python</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
       <h1>Esta es mi primera pagina en pyhton con django </h1>
       {% comment %} ejemplo de rediccionamiento {% endcomment %}
        <a href= {% url 'libros' %}> Ir a Libros</a>
        <script src="" async defer></script>
    </body>
</html>